<!--1577894399--><script type="text/javascript" src="http://demo.destoon.com/v5.0/file/script/slide.js"></script><div id="slide_a14" class="slide" style="width:400px;height:160px;">
<a href="http://www.destoon.com/" target="_blank"><img src="http://demo.destoon.com/v5.0/file/image/player_1.jpg" width="400" height="160" alt=""/></a>
<a href="http://www.destoon.com/" target="_blank"><img src="http://demo.destoon.com/v5.0/file/image/player_2.jpg" width="400" height="160" alt=""/></a>
</div>
<script type="text/javascript">new dslide('slide_a14');</script>
